SECRET_KEY=mykey
DEBUG=True

DATABASE_URL=postgres://sqsuser:sqspass@localhost:5432/sqsdb
POSTGRES_PASSWORD=sqspass
POSTGRES_USER=sqsuser
POSTGRES_DB=sqsdb

CELERY_TASK_ALWAYS_EAGER=False

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=